<div class="button-wrapper">
  <button (click)="resetVm()">Reset</button>
  <button (click)="initPromiseTest()">Promise data test</button>
  <button (click)="initObservableTest()">Observable data test</button>
</div>

<ng-container *ngIf="viewModel() as vm">
  <div class="loader">
    <div *ngIf="vm.showGlobalLoadingIndicator" class="loaderBar"></div>
  </div>

  <h1>{{vm.headline}}</h1>

  <ng-container *ngIf="!vm.showEntryLoadingIndicator; else loadingTemplate">
    <h2 *ngIf="!vm.entries || vm.entries.length === 0">No entries</h2>

    <p *ngFor="let entry of vm.entries; trackBy: trackByName" (click)="entry.onClick()">
      {{entry.name}} -- {{entry.counter}}
    </p>
  </ng-container>

  <ng-template #loadingTemplate>
    This is loading...
  </ng-template>
</ng-container>
